/node_modules
.env
uploads
webapp/node_modules
printer/printer-ready/*.jpg
printer/printer-ready/*.png
.idea
sample_qr.jpg
printer/printer-ready/*.jpeg
qr.png
printer/qr-codes
web/printer/printer-ready/*.png
web/printer/printer-ready/*.jpeg
web/printer/qr-codes
web/node_modules/
