[Unit]
Description=Printer Pals API
Requires=mongod.service
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/local/bin/nodemon app.js
WorkingDirectory=/home/pi/printer-pals/web
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root
Group=root
